:root {
    --B1: #1B1B1B;
    --B2: #2A2A2A;
    --B3: #EAE7D3;
    --B5: #f5f3e4;
    --B4: #F6F3DE;
    --C1: #03071E;
    --C2: #B81E19;
    --C3: #9D0208;
    --C4: #6A040F;
    --C5: #D00000;
    --C6: #03071E;
    --C7: #6EDA53;

    --star: #C3AC98;
}

.roboto-3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-7 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-9 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}


.kaushan {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

/* --- Home Page --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100dvh;
    width: 100%;
    grid-template-rows: 10dvh 1fr;
    overflow: hidden;
    transition: all 300ms ease
}

.hide {
    display: none;
}

.aside-main {
    display: grid;
    grid-row: 2;
    grid-template-columns: 200px 1fr;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    /* Largura da barra de rolagem */
}

/* Estiliza o fundo da barra de rolagem (a trilha) */
::-webkit-scrollbar-track {
    background: transparent;
    /* Cor de fundo da trilha */
}

/* Estiliza a alça da barra de rolagem (o thumb) */
::-webkit-scrollbar-thumb {
    background-color: var(--C4);
    /* Cor da alça da barra de rolagem */
    border-radius: 6px;
    /* Arredondamento da alça */
}

/* Estiliza a alça da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--C3);
    /* Cor da alça ao passar o mouse */
}

/* --- Header --- */
header {
    background: var(--B4);
    display: grid;
    width: 100%;
    height: 10dvh;
    grid-template-columns: 200px 1fr;
}

.header-logo {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border-right: 1px solid #0000004f;
}

.logo-space {
    color: var(--C1);
}

.logo-food {
    color: var(--C5);
}

.header-buttons {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #0000004f;
}

.header-button-following,
.header-button-all {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100px;
    padding: 0 10px;
    transition: all 300ms ease;
    border-bottom: 3px solid transparent;
    font-size: 20px;
}

.header-button-following:hover,
.header-button-all:hover {
    background: var(--B3);
    border-bottom: 3px solid var(--C1);
}

.selected {
    border-bottom: 3px solid var(--C5);
}

/* --- Main --- */
main {
    background: white;
    grid-column: 2;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90dvh;
}

/* feed */
.post-div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    margin: 0.5% 0;
    padding: 2.5%;
    background: #FFFEFC;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#username {
    font-size: 22px;
    font-weight: 500;
    padding: 1%;
}

#username-details {
    font-size: 20px;
    font-weight: 500;
    padding: 1%;
    width: 300px
}

.details-image-user {
    height: 40px;
    width: 40px;
}

.details-container-image-user {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin: 0 1% 0 0;
}

.post-div-title {
    font-weight: 450;
}

.details-user {
    display: flex;
    padding: 1% 2%;
}

.post-div-title p {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.post-div-buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    cursor: auto;
}

.post-div-buttons div {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 1;
}

.post-div-buttons div:hover {
    background: rgba(238, 69, 16, 0.15);
}

/* postRecipe */
ul {
    list-style-type: none;
    max-height: 100vh;
    padding: 1% 3.5%;
    font-size: 14px;
    min-height: 150px;
}

ol {
    max-height: 100vh;
    padding: 1 0 0 9%;
    font-size: 14px;
    min-height: 150px;
}

li {
    padding: 0.5% 0;
}

form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 0;
    position: relative;
    bottom: -5px;
    left: 7%;
    padding: 2%;
}

.post-recipe-list {
    display: flex;
    margin: 1%;
    max-width: max-content;
    border-radius: 15px;
    border: solid #0000004f 1px;
    padding: 1% 3%;
    background-color: #e9e3ebb0;
}

.icone-space {
    padding: 0 5%;
}

#post-title {
    font-size: x-large;
    background: #f7f6f3;

}

.post-tag {
    height: 100%;
    padding: 1%;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    background: #f7f6f3;
}

.post-recipe {
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    background-color: var(--B5);
    border-radius: 15px;
}

.post-insert-ingredients-steps {
    width: 100%;
}

.post-element {
    flex-direction: column;
    display: flex;
    text-align: justify;
    margin: 1%;
    min-width: 200px;
}

.post-recipe-name-category {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #f7f6f3;
}

.post-div-category {
    display: flex;
    flex-direction: row;
    margin: 1%;
    border-radius: 15px;
    border: solid #0000004f 1px;
    padding: 1% 3%;
    background-color: #e9e3ebb0;
}
.post-delete{
    padding: 0 0 0 10px;
    color: #D00;
    font-weight: 600;
}
.post-content-category {
    padding: 1%;
    display: contents;
}

.post-div-input-category {
    background-color: #f7f6f3;
}

.post-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    background-color: var(--B3);
}

.post-content-modal {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    background-color: var(--B3);
    border-top: solid 1px #eee6e6;
}

.post-image {
    display: flex;
    flex-direction: row;
    background: #f7f6f3;
}

.pos-tag {
    height: 50px;
    overflow: auto;
    margin: 1%;
    font-size: 14px;
}

.post-recipe-content {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0px 0 0 10%;
    background: #f7f6f3;
}

.post-add-category {
    display: flex;
    flex-direction: row;
}

.post-btn-contnt {
    text-align: center;
    align-content: center;
}

.post-component-input {
    background: white;
    border: solid var(--B3) 1px;
    width: 252px;
    border-radius: 15px;
    padding: 0.5%;
    margin: 1%;
    display: flex;
    align-items: center;
    height: 30px;
}

.post-btn-add {
    border: white;
    border-radius: 50%;
    background: var(--C6);
    width: 20px;
    height: 20px;
    color: var(--B3);
}

.post-input-add {
    border: none;
    width: 223px;
    border-radius: 15px;
    padding: 2.5%;
}

.post-input {
    border: solid var(--B3) 1px;
    width: 252px;
    border-radius: 15px;
    padding: 2.5%;
}

.post-btn1 {
    border-radius: 15px;
    background-color: var(--C6);
    border: none;
    padding: 0.5%;
    margin: 2%;
    height: 30px;
    width: 80px;
    color: #fff;
}

.post-btn2 {
    border-radius: 15px;
    background-color: var(--C6);
    border: none;
    padding: 0.5%;
    margin: 1%;
    height: 30px;
    width: 150px;
    color: #fff;
}

input:focus {
    outline: none;
}

.post-btn-add:hover, .post-btn1:hover ,.post-btn2:hover{
    background-color: var(--C4);
    cursor: pointer;
}

.post-form-image {
    width: 80%;
    margin: 5% 0;
    align-content: center;
    border-radius: 5px;
    object-fit: cover;
    padding: 1px;
}

#preview-image {
    min-height: 50%;
    max-height: fit-content;
    width: 80%;
    max-width: fit-content;
    object-fit: cover;
}

#div-step,
#div-ingredients {
    flex-direction: column;
}

/* search */
.search-category {
    display: flex;
    align-items: center;
    margin: 0 1%;
}

.search-input {
    border: solid var(--B3) 1px;
    width: 252px;
    border-radius: 15px;
    padding: 0.75%;
    margin: 0 1%;
}

.search-recipe {
    padding: 1%;
    min-height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.search-menu {
    background: var(--B4);
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #0000004f;
}

.search-categories-selected {
    min-height: 35px;
    max-width: fit-content;
    min-width: 200px; 
    background-color: #fff;
    border: solid var(--B3) 2px;
    border-radius: 5px;
    padding: 2%;
    display: none;
    flex-wrap: wrap;
}

#searche-btn {
    margin: 0;
}

.searche-title {
    display: block;
    font-size: 20px;
    width: 50%;
    padding-bottom: 1%;
    border-width: 4px;
    border-bottom: solid;
    border-image: linear-gradient(to right, #03071E, #D00000) 1;
    text-align: center;
}

.search-result {
    padding: 1%;
    text-align: center;
    background: #EAE7D3;
}

/* Show Details */
.modal {
    background: var(--B4);

    display: none;
    position: fixed;
    z-index: 2;

    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    min-height: 60%;
    max-height: 80%;
    min-width: 60%;
    max-width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
    font-family: 'Roboto';
}

.modal-post {
    background: #f7f6f3;
    ;

    display: none;
    position: fixed;
    z-index: 2;

    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    min-height: 60%;
    max-height: 80%;
    max-width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
    font-family: 'Roboto';
}

.modal-details {
    background: #f7f6f3;
    display: none;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-45%, -45%); */
    min-height: 60%;
    max-height: 90%;
    min-width: 60%;
    max-width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
    font-family: 'Roboto';
}

.modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-content-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    padding-right: 80px;
}

.div-recipe-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    height: auto;
    max-height: 100vh;
}

.div-recipe-details-itens {
    width: 33%;
}

.close-modal {
    height: fit-content;
    background: var(--C4);
    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    position: absolute;
    top: -6px;
    right: -10px;
}

.modal-error {
    justify-content: center;
    padding: 5px;
    margin-bottom: 14px;
    color: var(--C1);
}

.close-modal:hover {
    scale: 1.05;
    rotate: 180deg;
}

.modal-div-buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    width: 100%;
}

.modal-div-buttons div {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease;
    padding: 10px 20px;
    border-radius: 20px;
}

.modal-div-buttons div:hover {
    background: rgba(238, 69, 16, 0.15);
}

#recipe-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 1%;
}

.modal-div-img {
    display: flex;
    overflow-y: auto;
    justify-content: space-between;
}

.modal-div-img div {
    width: 30%;
}

.modal-div-img div:nth-child(2) p,
.modal-div-img div:nth-child(3) p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

#recipe-image {
    background: #80808054;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    padding: 1px;
}

#recipe-image-details {
    background: #2A2A2A;
    height: auto;
    width: 80%;
    border-radius: 5px;
    object-fit: cover;
    padding: 1px;
}

.list-title {
    font-weight: bold;
}

/* Comemments */
.comments {
    background-color: #fffbfb;
    border-radius: 10px;
    padding: 1.5%;
}

.comments-feed {
    width: 300px;
    position: relative;
    left: 1px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.close-comment {
    background: var(--C4);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 15px;
    color: #fff;
    margin: 1%;
    padding: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.close-comment-feed {
    right: -250px;
    top: -7px;
}

.close-comment-details {
    right: -605px;
    top: -5px;
}

.write-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16%;
}

.write-comment input {
    border-radius: 10px;
    padding: 1.5%;
    border: 1px solid #dbd4d4;
    height: 25px;
    margin: 1%;
}

.details-write-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.details-write-comment input {
    border-radius: 10px;
    padding: 0.75%;
    border: 1px solid #dbd4d4;
    ;
    height: 30px;
    margin: 1%;
}

.write-input-feed {
    width: 77%;
}

.write-input-details {
    width: 90%;
}

.write-comment button {
    background: var(--C1);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 1.5%;
    margin: 1%;
}

.details-write-comment button {
    background: var(--C1);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 1%;
    margin: 1%;
}

.details-info-username-date {
    margin: 0 1%;
}

.write-comment-btn-details {
    margin-top: 1.5%;
}

.published-comments {
    background-color: #f4ebeb21;
    height: 300px;
    border-radius: 10px;
    overflow: auto;
    padding: 1%;
}

.details-published-comments {
    background-color: #f4ebeb21;
    min-height: 0px;
    border-radius: 10px;
    overflow: auto;
    padding: 1%;
}

.comment {
    display: flex;
    flex-direction: row;
    padding: 3%;
    border-bottom: solid #f8efef 1px;
}

.comment-details {
    display: flex;
    flex-direction: row;
    padding: 2%;
    border-bottom: solid #f8efef 1px;
}

.comment-user-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 1%;
    border: solid var(--B4) 1px;
    text-align: center;
}

.comment-txt {
    max-width: 210px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.comment-txt-details {
    max-width: 600px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.comment-username {
    font-weight: 600;
    width: 300px;
}

.info-user {
    padding: 0 2%;
}

.image-user {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.card-image-user {
    align-content: center;
}

.card-user {
    display: flex;
    margin-bottom: 2%;
}

.card-published {
    font-weight: 100;
    font-size: small;
    color: var(--B2);
}

/* --- Aside --- */
.aside-main aside {
    background: var(--B4);
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90dvh;
    border-right: 1px solid #0000004f;
}

.abas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    margin-top: 20%;
}

.abas i {
    color: var(--B1);
    font-size: 22px;
}

.aba-button {
    cursor: pointer;
    background: none;
    height: 100%;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 15px 20px;
    padding-left: 20px;
    border-radius: 100px;
    transition: all 300ms ease;
}

.aba-button:hover {
    background: rgba(238, 69, 16, 0.15);
}

.button-write {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-write button {
    background: var(--C6);
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 80%;
    font-size: 18px;
    cursor: pointer;
    transition: all 300ms ease;
}

.button-write button:hover {
    scale: 1.05;
    background: var(--C4);
}

.button-user-div {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-user {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--B3);
    border: 1px solid var(--B1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
}

.button-user:hover {
    background: rgba(238, 69, 16, 0.15);
}

.button-user img,
.button-user div {
    margin: 0 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#user-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--B1);
    font-size: 14px;
}

#user-image {
    width: 40px;
    height: 40px;
}

#user-username {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--B2);
    font-size: 12px;
}

/* perfil */
.posts-feed{
    display: flex;
    flex-direction: column;
    height: 90dvh;
    width: 100%;
    background:#EAE7D3
}

.perfil-page {
    display: flex;
    flex-direction: column;
    height: 90dvh;
    width: 100%;
    background: white;
}

/* .posts-feed div{
    border: none;
} */

/* perfil header */
/* .perfil-page {
    border: 5px solid red;
} */

.perfil-header {
    /* border: 5px solid blue; */
    display: flex;
    height: 30dvh;
    background: #fff;
    font-family: 'Roboto';
    border-bottom: 5px double black;
}


.perfil-img-name-username {
    /*  border: 5px solid yellow; */
    width: 25%;
    margin: 10px 0 10px 20px;
}

.perfil-img-name-username {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

/* .perfil-posts-div {
    border: 5px solid rgb(0, 0, 206);
} */


.perfil-bio-following-followers {
    /* border: 5px solid rgb(186, 186, 0); */
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.perfil-button-follow-edit {
    /* border: 5px solid rgb(134, 134, 0); */
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* .perfil-img,
.perfil-bio,
.perfil-button {
    border: 5px solid rgb(4, 255, 0);
} */

.perfil-img {
    height: 120px;
    width: 120px;
}

.perfil-bio {
    margin-top: 30px;
    margin-left: 30%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(244, 244, 244);
    border-radius: 5px;
    padding: 5px;
}

.perfil-button {
    width: fit-content;
    align-self: center;
    justify-self: center;
    margin-bottom: 15px;
    position: relative;
}

.perfil-button button {
    position: absolute;
    right: 10px;
    bottom: -65px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    transition: all 300ms ease;
    border: none;
    cursor: pointer;
    background: var(--C5);
    color: #ffffff;
}

.perfil-button button:hover {
    background: var(--C4);
    scale: 1.05;
}

/* .perfil-name-username,
.perfil-following-followers {
    border: 5px solid rgb(3, 194, 0);
} */

.perfil-name-username {
    margin-right: 10px;
    background: rgb(244, 244, 244);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
}

.perfil-following-followers {
    align-self: flex-end;
    display: flex;
    margin-bottom: 15px;
}

/* .perfil-class-name,
.perfil-following {
    border: 5px solid rgb(255, 0, 191);
} */

.perfil-class-name {
    height: 40px;
    white-space: nowrap;
    overflow: auto;
}

.perfil-following {
    margin-right: 5px;
}

/* .perfil-class-username,
.perfil-followers {
    border: 5px solid rgb(180, 0, 135);
} */

.perfil-class-username {
    height: 40px;
    white-space: nowrap;
    overflow: auto;
}

/* perfil posts */
.perfil-posts-div {
    height: 60dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}